body,html{
    margin: 0;
    font-family: Arial;
    font-size: 24px;
    scroll-behavior: smooth;
}

#header{
    background: rgba(0,0,0,0.8);
    padding: 10px 0;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.container{
    width: 86%;
    margin: 0 auto;
}

#header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    
}


.main-nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 500px;
}

.main-nav ul li{
    float: left;
    margin-left: 35px;
    font-size: 18px;
    padding-left: 10px;
}

.main-nav ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover{
    background-color: gray;
   
}

.image img{
    width: 30%;
   margin: 150px;
   margin-right: 100px;
    vertical-align: top;
    
}
.image{
    background: #d7b8e0;
}

.about{
    height: 100vh;
    display: flex;
    align-items: center;
    background: #dbfbf4;
}

.qualifications{
    height: 100vh;
    display: flex;
    align-items: center;
    background: #cfd6f9;
    text-align: center;
    
}

.qualifications ul{
    list-style-type: none;
}

.skills{
    height: 100vh;
    display: flex;
    align-items: center;
    background: #d6f9cf;
    text-align: center;
}

.skills ul{
    list-style-type: none;
}

.contact{
    height: 100vh;
    display: flex;
    align-items: center;
    background: #f1edcd;
    text-align: center;
}

.contact ul{
    list-style-type: none;
}

.links img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
}

.links a{
    padding: 0;
} 

.links a :hover{
    background: #f3e57de7;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.home{
    padding-right: 50px;
}

.image h1{
    font-size: 75px;
   font-style: oblique;
   color: #4a525a;
}


.image p{
    font-size: 40px;
}

@media(max-width:1100px){
    .image img{
        width: 40%;
    }

    .image h1{
        font-size: 60px;
        padding-top: 100px;
    }

    .image p{
        font-size: 95%;
        padding-right: 10px;
    }
}

@media(max-width : 950px){
    .image img{
        width: 40%;
        margin-left: 40px;
        margin-right: 30px;
        padding-top: 150px;
    }

    .image h1{
        font-size: 55px;
        padding-top: 150px;
    }

    .image p{
        font-size: 90%;
        padding-right: 20px;
    }
}

@media(max-width : 600px){
    .image img{
        width: 50%;
        margin-right: 18px;
    }
    .image h1{
        font-size: 40px;
        padding-top: 180px;

    }

    .image p{
        font-size: 70%;
    }

    .about{
        height: 40vh;
        font-size: 80%;
       text-align: center;
       padding-top: 100px;
       padding-bottom: 300px;
       
    }

    .qualifications{
        height: 50vh;
        padding-bottom: 300px;
        font-size: 80%;
       text-align: center;
       list-style-type: none;
    }

    .skills{
        font-size: 80%;
       text-align: center;
       list-style-type: none;
       padding-bottom: 300px;
       height: 50vh;
    }

    .contact{
        font-size: 80%;
       text-align: center;
       list-style-type: none;
       padding-bottom: 300px;
       height: 50vh;    
    }

    .links img{
        width: 50px;
        height: 50px;
    }
}

@media(max-width : 1350px){
    
    .about{
        height: 40vh;
        font-size: 80%;
       text-align: center;
       padding-top: 100px;
       padding-bottom: 300px;
       
    }

    .qualifications{
        height: 50vh;
        padding-bottom: 300px;
        font-size: 80%;
       text-align: center;
       list-style-type: none;
    }

    .skills{
        font-size: 80%;
       text-align: center;
       list-style-type: none;
       padding-bottom: 300px;
       height: 50vh;
    }

    .contact{
        font-size: 80%;
       text-align: center;
       list-style-type: none;
       padding-bottom: 300px;
       height: 50vh;    
    }

    .links img{
        width: 50px;
        height: 50px;
    }
}


@media(max-width:450px){
    .image img{
        width: 50%;
        height: 90%;
        margin-left: 50px;
        margin-right: 25px;
    }

    .image h1{
        font-size: 35px;
        padding-top: 200px;
    }

    .image p{
        font-size: 20px;
        padding-right: 5px;
    }
}

@media(max-width:400px){
    .image img{
        width: 50%;
        height: 90%;
        margin-left: 20px;
        margin-right: 15px;
    }

    .image h1{
        font-size: 25px;
        padding-top: 200px;
    }

    .image p{
        font-size: 15px;
        padding-right: 5px;
    }
}

@media(max-width:1350px){
    .container{
       
        height: 40px;
    }

     .main-nav ul{
         padding: 0;
         margin: 0;
         list-style: none;
         padding-left: 450px;
    }

    .main-nav ul li{
         float: left;
         margin-left: 25px;
         font-size: 15px;
         padding-left: 8px;
    }

    .main-nav ul li a{
         text-decoration: none;
         color: #fff;
         display: block;
         padding-left: 10px;
         padding-right: 10px; 
         padding-top: 10px;
         padding-bottom: 10px;
    }
}

@media(max-width:1200px){
    .container{
       
        height: 35px;
    }

     .main-nav ul{
         padding: 0;
         margin: 0;
         list-style: none;
         padding-left: 400px;
    }

    .main-nav ul li{
         float: left;
         margin-left: 15px;
         font-size: 15px;
         padding-left: 8px;
    }

    .main-nav ul li a{
         text-decoration: none;
         color: #fff;
         display: block;
         padding-left: 10px;
         padding-right: 10px; 
         padding-top: 10px;
         padding-bottom: 10px;
    }
}

@media(max-width:1090px){
    .container{
        
        height: 35px;
    }

     .main-nav ul{
         padding: 0;
         margin: 0;
         list-style: none;
         padding-left: 300px;
    }

    .main-nav ul li{
         float: left;
         margin-left: 15px;
         font-size: 15px;
         padding-left: 8px;
    }

    .main-nav ul li a{
         text-decoration: none;
         color: #fff;
         display: block;
         padding-left: 10px;
         padding-right: 10px; 
         padding-top: 10px;
         padding-bottom: 10px;
    }
}





@media(max-width:990px){
    .container{
       
        height: 35px;
    }

     .main-nav ul{
         padding: 0;
         margin: 0;
         list-style: none;
         padding-left: 200px;
    }

    .main-nav ul li{
         float: left;
         margin-left: 15px;
         font-size: 15px;
         padding-left: 8px;
    }

    .main-nav ul li a{
         text-decoration: none;
         color: #fff;
         display: block;
         padding-left: 10px;
         padding-right: 10px; 
         padding-top: 10px;
         padding-bottom: 10px;
    }
}

@media(max-width:860px){
    .container{
        height: 35px;
    }

     .main-nav ul{
         padding: 0;
         margin: 0;
         list-style: none;
         padding-left: 0px;
    }

    .main-nav ul li{
         float: left;
         margin-left: 15px;
         font-size: 15px;
         padding-left: 8px;
    }

    .main-nav ul li a{
         text-decoration: none;
         color: #fff;
         display: block;
         padding-left: 10px;
         padding-right: 10px; 
         padding-top: 10px;
         padding-bottom: 10px;
    }
}


@media(max-width:650px){
    .container{
        height: 35px;
    }

     .main-nav ul{
         padding: 0;
         margin: 0;
         list-style: none;
         padding-left: 0px;
    }

    .main-nav ul li{
         float: left;
         margin-left: 2px;
         font-size: 15px;
         padding-left: 0px;
    }

    .main-nav ul li a{
         text-decoration: none;
         color: #fff;
         display: block;
         padding-left: 10px;
         padding-right: 10px; 
         padding-top: 10px;
         padding-bottom: 10px;
    }
}

@media(max-width:550px){
    .container{
        height: 125px;
    }

    .main-nav{
        display: flex;
        flex-direction: column;
       
    }

     .main-nav ul{
         padding: 0;
         margin: 0;
         list-style: none;
         padding-left: 0px;
    }

    .main-nav ul li{
        
         margin-left: 2px;
         font-size: 25px;
         padding-left: 0px;
    }

    .main-nav ul li a{
         text-decoration: none;
         color: #fff;
         display: block;
         padding-left: 10px;
         padding-right: 10px; 
         padding-top: 10px;
         padding-bottom: 10px;
    }
}